
    <div class="row">
      <div class="col-2 col-sm-3 col-lg-2">
        <center>
          <label class="custom-control align-self-start custom-checkbox d-inline-block mt-1 mr-0 mb-0">
            <input type="checkbox" class="custom-control-input" name="{{ post.id | escape }}/check">
            <span class="custom-control-indicator"></span>
          </label>
          <div class="clearfix"></div>
        </center>
      </div>
      <div class="col-10 {% if post.main-image %}col-sm-6 col-lg-8{% else %}col-sm-9 col-lg-10{% endif %}">
        <h3 class="d-inline-block mb-2 mt-1 mt-sm-0">
          <a class="post-link text-danger" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <div class="text-muted post-body mb-2">{{ post.content | strip_html | truncate: 140 }}</div>
      </div>
      <!-- POST MAIN IMAGE FIELD -->
      {% if post.main-image %}
      <div class="col-sm-3 col-lg-2 hidden-xs-down mb-4">
        <a class="thumb-wrap mt-1" href="{{ post.url | relative_url }}" style="background-image: url('{{ post.main-image}}');"></a>
      </div>
      {% endif %}
      <!-- END POST MAIN IMAGE -->
    </div>

<div class="spacer-sm clearfix"></div>
