
    <!-- <p class="post-meta mt-0">{{ post.date | date: "%b %-d, %Y" }}</p> -->

    {% if post.event-start-date %}
      <div class="row">
        {% if post.event-start-date %}
        <div class="col-sm-3 col-lg-2">
          <center>
            <span class="badge badge-primary mt-2 mb-1">Event</span>
            <p class="mb-1 mt-1">{{ post.event-start-date | date: "%b" }}</p>
            <h3><strong>{{ post.event-start-date | date: "%-d" }}</strong></h3>
          </center>
        </div>
        {% endif %}
        <div class="{% if post.main-image %}col-sm-6 col-lg-8{% else %}col-sm-9 col-lg-10{% endif %}">
          <h3 class="mt-0 mb-1">
            <a class="post-link"  href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
          <div class="row">
            {% if post.event-start-date %}
            <div class="col-12 col-sm-3 text-muted">
             <p class="mb-0">{{ post.event-start-date | date: "%l:%M %p" }} {% if post.event-end-date %}-{% endif %} {{ post.event-end-date | date: "%l:%M %p" }}</p>
            </div>
            {% endif %}
            <div class="col-7 col-sm-9 text-muted">
              <p>{{ post.Location | escape }}</p>
            </div>
          </div>
        </div>
        <!-- POST MAIN IMAGE FIELD -->
        {% if post.main-image %}
        <div class="col-sm-3 col-lg-2 hidden-xs-down mb-4">
          <a class="thumb-wrap mt-1" href="{{ post.url | relative_url }}" style="background-image: url('{{ post.main-image}}');"></a>
        </div>
        {% endif %}
        <!-- END POST MAIN IMAGE -->
      </div>
    {% endif %}


<div class="spacer-sm clearfix"></div>
