
<nav class="navbar navbar-light navbar-toggleable-md mb-0" style="padding-top: 180px;">

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
          {% if site.twitter_username %}
          <li class="nav-item">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li class="nav-item">
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}
      </ul>
    </div>

</nav>

<footer class="site-footer">

  <div class="container-fluid">

    <div class="row">

      <!-- JOIN FORM: Uses site-wide Mailchimp List ID -->
      <div class="col-xs-8 col-lg-6 pt-5 pb-5" style="background: #E3F2FD;">
        <div class="row">
          <div class="col-lg-9 offset-lg-1">
            <h4 class="card-title">Join {{ site.title | escape }}</h4>
            <p class="card-text">Get email updates on meeting times, annoucements, action items, and more.</p>
            <form class="">
               <input class="form-control input-xs-lg" type="text" placeholder="Email">
               <div class="spacer-sm clearfix"></div>
               <button class="btn btn-block btn-success" type="submit">Get Updates</button>
             </form>
             <hr class="hidden-sm-up">
             <div class="clearfix spacer visible-xs-down"></div>
           </div>
         </div>
      </div>

      <!-- HARDCODED Invisible Guide Link -->
      <div class="col-xs-8 col-lg-6 pt-5 pb-5" style="position: relative; overflow:hidden;">
        <div class="row">
          <div class="col-lg-7 offset-lg-1">
            <h4 class="card-title">The Indivisible Guide</h4>
            <p>A practical guide to resisting the Trump agenda. Written by former congressional staffers reveal best practices for making Congress listen.</p>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Read The Guide</a>
          </div>
        </div>
        <i class="material-icons" style="position: absolute; right: 2rem; top: 3.5rem; font-size: 170px; color: #1976D2;">import_contacts</i>
      </div>

    </div>

  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-6 pt-5 pb-4" style="background: #90CAF9;">
        <div class="row">
          <div class="col-lg-6 offset-lg-1 clearfix">
            <h4>Start A Local Chapter</h4>
            <p>You can start a local Indivisible chapter and get a website just like this.</p>
            <p><a class="btn btn-primary" href="#">Start a Chapter</a></p>
          </div>
        </div>
        <i class="material-icons" style="position: absolute; right: 2rem; top: 3.5rem; font-size: 170px; color: #fff;">location_on</i>
      </div>
      <div class="col-sm-6 pt-5 pb-4" style="background: #BBDEFB;">
        <div class="row">
          <div class="col-lg-9 offset-lg-1">
            <h4>Contact {{ site.title | escape }}</h4>
            <div class="clearfix spacer-sm"></div>
            <ul class="contact-list">
              <li>
                {% if site.author %}
                  {{ site.author | escape }}

                {% endif %}
                </li>
                {% if site.email %}
                <li><a class="btn btn-primary" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {% endif %}
                <div class="clearfix spacer-sm"></div>

                <p class="rss-subscribe mt-2">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</footer>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
