<footer class="site-footer dark-bg">

  <div class="container">

    <div class="row">

      <div class="col-xs-8 col-lg-6">
          <h3 class="card-title">Read the Indivisible Guide</h3>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary"><i class="material-icons" style="vertical-align: middle;">import_contacts</i> &nbsp;Read The Indivisible Guide</a>
      </div>

      <div class="col-xs-8 col-lg-6">
          <h3 class="card-title">Join {{ site.title | escape }}</h3>
          <p class="card-text">Get email updates on meeting times, annoucements, action items, and more.</p>
          <form class="">
             <input class="form-control input-xs-lg" type="text" placeholder="Email">
             <div class="spacer-sm clearfix"></div>
             <button class="btn btn-block btn-success" type="submit">Get Updates</button>
           </form>
      </div>

    </div>
  </div>
</footer>

<footer class="site-footer dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}

            <p>{{ site.description | escape }}</p>
            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

        </ul>
      </div>

      <div class="col-sm-6">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>


    </div>

  </div>

</footer>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
