<!-- FOOTER -->
<nav class="navbar navbar-inverse pt-4 pb-4 bg-inverse navbar-toggleable-md mb-0">

  <div class="justify-content-center container-fluid">

    <div class="spacer clearfix"></div>

    <h4 class="text-white text-center mb-3 mt-2">{{ site.footer-title}}</h4>
    <div class="clearfix"></div>
    <ul class="navbar-nav justify-content-center">
        {% if site.twitter_username %}
        <li class="nav-item">
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}

        {% if site.facebook_username %}
        <li class="nav-item">
          {% include icon-facebook.html username=site.facebook_username %}
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="mailto:?subject=Join%20{{ site.title | escape }}?body={{ site.url }}"><i class="material-icons">mail_outline</i></a>
        </li>
    </ul>

    <div class="spacer clearfix"></div>

  </div>

  <div class="spacer clearfix"></div>

</nav>

{% if site.representatives | size > 0 %}

<!-- REPRESENTATIVES -->

<footer class="site-footer bg-medium">

  <div class="container">

    <div class="spacer clearfix"></div>

    <div class="row">
      {% for representatives in site.representatives %}
        <div class="col-sm-6 col-lg-3 representative mt-4">
            <h5 class="mb-4">{{ representatives.title }}</h5>
            <ul>
            {% if representatives.website %}<li><a href="{{ representatives.website }}"><strong><u>Website</u></strong></a></li>{% endif %}
            {% for phone-numbers in representatives.phone-numbers %}
              <li>
                <small>{{ phone-numbers[0] }}</small><br><strong>{{ phone-numbers.[1] }}</strong>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="spacer clearfix"></div>

</footer>

{% endif %}

<footer class="site-footer text-white bg-dark">

  <div class="container">

    <div class="spacer clearfix"></div>
    <div class="spacer clearfix"></div>

    <!-- WEB LINKS -->

    <div class="row">

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 col-lg-2">
            <span class="icon-disc d-flex mr-4 mb-2"><i class="material-icons bg-dark text-white">exposure_plus_1</i></span>
          </div>
          <div class="col-sm-9">
            <h5 class="mt-2">Join {{ site.title | escape }}</h5>
            <p class="card-text">Get email updates on meeting times, annoucements, action items, and more.</p>
            <a href="/become-a-member.html" class="btn btn-danger"><strong>Become A Member</strong></a>
          </div>
        </div>
      </div>

      {% if site.email %}
      <div class="col-sm-6">
        <hr class="hidden-sm-up mt-4 mb-4">
        <div class="row">
          <div class="col-sm-3 col-lg-2">
            <span class="icon-disc d-flex mr-4 mb-2"><i class="material-icons bg-dark text-white">email</i></span>
          </div>
          <div class="col-sm-9">
            <h5 class="mt-2 mb-3">Contact {{ site.title | escape }}</h5>
            <a class="btn btn-danger" href="mailto:{{ site.email }}">{{ site.email }}</a></a>
          </div>
        </div>
      </div>
      {% endif %}

    </div>

    <div class="spacer clearfix"></div>
    <div class="spacer clearfix hidden-xs-down"></div>

    <div class="row">

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 col-lg-2">
            <span class="icon-disc d-flex mr-4 mb-2"><i class="material-icons bg-dark text-white">import_contacts</i></span>
          </div>
          <div class="col-sm-9">
            <h5 class="mt-2"><a href="https://www.indivisibleguide.com/" class="text-white"><u>Read The Indivisible Guide</u></a></h5>
            <p>A practical guide to resisting the Trump agenda. Former congressional staffers reveal best practices for making Congress listen.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <hr class="hidden-sm-up mt-4 mb-4">
        <div class="row">
          <div class="col-sm-3 col-lg-2">
            <span class="icon-disc d-flex mr-4 mb-2"><i class="material-icons bg-dark text-white">place</i></span>
          </div>
          <div class="col-sm-9">
            <h5 class="mt-2">Start A Local Chapter</h5>
            <p class="mb-2">You can start a local Indivisible chapter and get a website just like this.</p>
            <a href="https://www.indivisibleguide.com/groups-nav" class="btn btn-link btn-flush text-white"><u>Browse chapters</u></a> <a href="https://www.indivisibleguide.com/group-toolkit" class="btn btn-link text-white"><u>Group leader toolkit</u></a> <a href="http://indivisibletemplate.com" class="btn btn-link btn-flush text-white"><u>Get a free website</u></a>
          </div>
        </div>
      </div>

    </div>

    <div class="spacer clearfix"></div>

  </div>

</footer>
<hr class="mt-0 mb-0 inverse">

<!-- RSS AND BYLINE -->
<div class="clearfix bg-inverse text-white" style="background: #1a1a1a!important;">
  <div class="container pt-4">
    <div class="row">
      <div class="col-12 col-sm-6">
        <p class="rss-subscribe mb-4">Subscribe <a class="text-white" href="{{ "/feed.xml" | relative_url }}"><u>via RSS</u></a></p>
      </div>
      <div class="col-12 col-sm-6">
        <p mb-4>Created by <a class="text-white" href="http://sahadeva.com/"><u>Sahadeva Hammari</u></a>. &copy;2017.</p>
      </div>
    </div>
  </div>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Work+Sans:400,800" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<!-- TWITTER SCRIPT -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<!-- FB SHARE SCRIPT -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=896862327120452";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


</body>
