
<!-- INTRO TO TEMPLATE -->
<nav class="navbar project-intro bg-success" style="display: none; relative; z-index: 10; border: 0; box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);">
  <div class="clearfix spacer"></div>
  <div class="container text-white">
    <h1 class="mt-0">Indivisible Template</h1>
    <h4 class="mb-4 mt-4">An Indivisible Chapter Website In A Box</h2>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-7">
        <p class="mb-0">Everything you need to start an <a class="text-white" href="https://www.indivisibleguide.com/"><strong><u>Invivisible Guide</u></strong></a> chapter website.</p>
        <p class="mt-0 mb-0">It's fast, secure, easy to use, developer friendly, and free.</p>
        <p class="mt-0 mb-0">Check out the example website below.</p>
        <p class="mt-4 mb-2"><a href="/documentation/" class="btn btn-primary btn-lg mt-2">Get Started</a></p>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <hr class="hidden-sm-up">
        <p class="mb-0">Created by<br><a class="text-white" href="http://sahadeva.com/"><strong><u>Sahadeva Hammari</u></strong></a></p>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2">
        <hr class="hidden-sm-up">
        <div class="clearfix share-btns">
          <p class="mb-2" style="margin-top: 1px;">Share it</p>
          <div class="clearfix mb-2">
            <a class="twitter-share-button" data-size="large"
              href="https://twitter.com/intent/tweet?text=The Indivisible Template: Indivisible Guide Chapter websites made easy. Try it at&url=http://indivisiblechapter.com&via=sahadeva">
            Tweet</a>
          </div>
          <div class="clearfix"></div>
          <div>
            <div class="fb-share-button mt-0" data-href="http://indivisiblechapter.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Findivisiblechapter.com%2F&amp;src=sdkpreparse">Share</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix spacer"></div>
</nav>
<!-- END INTRO TO TEMPLATE -->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
  <div class="container">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav d-flex flex-nowrap">
          {% for my_page in site.pages %}
           {% if my_page.title %}
            <li class="nav-item {% if my_page.url contains "become" %}join-btn ml-auto{% endif %}" {% if my_page.url contains "become" %}style="order: 3;"{% endif %}>
              <a class="nav-link {% if my_page.url contains "become" %}btn btn-danger text-white {% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
           {% endif %}
          {% endfor %}

          <li class="nav-item"><a class="nav-link" href="mailto:{{ site.email }}">Contact</a></li>

          {% if site.twitter_username %}
          <li class="nav-item ml-sm-2">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li class="nav-item">
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

        </ul>


          <!-- <button class="btn btn-danger my-2 my-sm-0 ml-auto" type="submit">Become A Member</button> -->
      </div>
  </div>
</nav>
