h1, h2, h3, h4, h5.title, .navbar-brand {
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-size: $base-font-size * 2.66;
  line-height: $base-line-height * 1.075;
  font-weight: 600;
}

h1, h2, h3, h4, h5 {
  line-height: 1.5;
}

h1, h2, h5 {
  font-weight: bold;
}

p {
  font-size: 18px;
}

.spacer {
    height: 30px;
    display: block;
}

.shadow {
  border: 20px solid #ddd;
}
