---
---

@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$primary:          #0275d8;
$light:            #fff;
$dark:             #333;

$danger:           #d9534f;

$text-color:       #111;

$border-color:     #e0e0e0;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// RESETS

body {
  background: #f4f7f9;
}

.bg-inverse {
    background-color: #002868!important;
}

.bg-dark {
  background: #f7f7f9;
}

.bg-medium {
  background: $grey-color-light;
}

a:hover, a:active {
  color: darken($primary, 40%);
  text-decoration: none;
}

.btn-icon {
  position: relative;
}

  .btn-icon i {
    font-size: 90px;
    position: absolute;
    right: .5rem;
    bottom: 0;
    color: #0275d8;
  }

.badge-lg {
  padding: 9px 12px;
  font-size: $base-font-size;
}

.btn-action {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  line-height: 6.1rem;
  padding: 0!important;
  font-size: $base-font-size;
  font-weight: bold;
  margin-top: -2.5rem;
  display: block;
  z-index: 2;
  position: relative;
}

  .media .btn-action {
    margin-top: 0;
  }

.btn-flush {
  padding-left: 0;
  padding-right: 0;
}

.btn-emph {
  text-transform: uppercase;
  font-weight: bold;
}

hr, .list-group-item {
  border-color: $border-color;
  opacity: 1;
}

  hr.inverse, .bg-inverse hr {
    border-color: #01579B;
  }

.badge {
  padding: 4px 5px;
}

@media (max-width: 768px) {
  .media .btn-action {
    margin-right: 0!important;
  }

  .media img {
    max-width: 100px;
  }
}

// TYPE

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
  font-size: $base-font-size * 4;
  line-height: 92px;
}

h2 {
  font-size: $base-font-size * 2.66;
  line-height: $base-line-height * 1.075;
}

   h2 i.material-icons {
     vertical-align: middle;
     font-weight: 100;
   }

   h2 strong, h3 strong {
     font-weight: 900;
   }

   h2 strong {
     font-size: $base-font-size * 2;
   }

   h2 strong.logo {
     display: inline-block;
     background: $danger;
     padding: 0 19px;
   }

h3 {
  line-height: $base-line-height * .8;
}

h5, nav .btn {
  font-weight: bold;
}

p, h5 {
  font-size: $base-font-size;
}



.grey {
  color: $grey-color;
}

.post-meta {
  color: $grey-color-dark;
}

@media (max-width: 758px) {
  h1 {
    font-size: $base-font-size * 2;
    line-height: 44px;
  }
  h2 {
    font-size: $base-font-size * 1.5;
  }

    h2 strong {
      font-size: $base-font-size * 1.25;
    }

  h4 {
    font-size: $base-font-size;
  }
  .card-title {
    margin-bottom: 0;
  }
}

// NAV

.navbar-nav {
  width: 100%;
}

.navbar-brand {
  font-weight: 900;
}

.navbar-light {
  background: #FFCDD2!important;
}

.navbar-nav .nav-link svg, .navbar-nav .nav-link img {
  vertical-align: middle;
}



@media (max-width: 767px) {
  .navbar>.container {
    width: 100%;
  }
  .container .navbar-toggler-right {
    right: 0;
  }
}

// FORM

.spacer {
  height: $spacing-unit;
}

.spacer-sm {
  height: $spacing-unit/2;
}

.post-list>li {
  margin: 0 0 $spacing-unit*3;
}

.post-list .post-body iframe,
.post-list .post-body img,
.grid-object img,
.grid-object iframe {
  max-width: 200px;
  max-height: 140px;
}

@media (max-width: 768px) {
  .spacer {
    height: $spacing-unit/2;
  }
  .post-list>li {
    margin-bottom: $spacing-unit;
  }
}

// CONTENT

.home-header {
  position: relative;
  margin-top: -25px;
  color: $dark;
  background-size: cover;
  background-position: center;
  padding-top: $spacing-unit*1.75;

}

  .home-header h1, .home-header h4 {
    position: relative;
    z-index: 2;
  }

.site-photos:nth-child(2n+1) {
  clear: both;
}

.site-photos img {
  margin-bottom: $spacing-unit/2;
}

@media (min-width: 768px) {
  padding-bottom: $spacing-unit;
}

// BLOG POSTS

a.alert {
  display: block;
  color: rgba(0,0,0,.5);
  font-weight: bold;
  font-size: $base-font-size;
  position: relative;
  padding-right: $spacing-unit;
  color: $light;
}

  a.alert strong {

    text-transform: uppercase;
  }

  a.alert i.material-icons {
    position: absolute;
    top: 15%;
    right: 0;
    font-size: $base-font-size*2;
  }

a.alert-danger {
  background: $danger;
  border-color: $danger;
}

a.alert-primary {
  background: $primary;
  border-color: $primary;
}

.header-image {
  margin-top: -50px;
  margin-bottom: -$spacing-unit/2;
  display: block;
  background-size: cover;
  background-position: center;
  height: 320px;
}

.list-group-x-flush .list-group-item {
  background: transparent;
  padding-left: 0;
}

@media (min-width: 768px) {
  .script {
    padding: 1em;
    font-size: $base-font-size*1.25;
    line-height: $base-line-height*1.1;
  }
}

@media (max-width: 768px) {
  .home-header {
    padding-top: $spacing-unit;
  }
}

.share-btns>div, .fb_iframe_widget span {
  vertical-align: top!important;
}

// MEDIA

.media-item {
  max-height: 500px;
}

.media-thumbnail {
  height: 210px;
  display: block;
  background-size: cover;
  background-position: center;
}


// CARDS




// FOOTER


.representative ul {
  list-style: none;
  padding: 0;
}

  .representative ul li {
    margin: 9px 0;
  }

  .representative small {
    width: 100%;
  }

.icon-disc i.material-icons, .media span.disc {
  font-size: 40px;
  border-radius: 50%;
}
