---
---

@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$light:            #fff;
$dark:             #333;

$text-color:       #111;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// RESETS

body {
  background: #f4f7f9;
}

.bg-inverse {
    background-color: #002868!important;
}

.bg-dark {
  background: #f7f7f9;
}

// TYPE

h1 {
  font-size: $base-font-size * 5;
  font-weight: 200;
}

h2 {
  font-size: $base-font-size * 2.5;
  font-weight: 200;
}

h3.card-header {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

.post-meta {
  color: $grey-color-dark;
}

@media (max-width: 758px) {
  h1 {
    font-size: $base-font-size * 2;
  }
  h2 {
    font-size: $base-font-size * 1.5;
  }
  h4 {
    font-size: $base-font-size;
  }
  .card-title {
    margin-bottom: 0;
  }
}

// NAV

.navbar-nav .nav-link svg, .navbar-nav .nav-link img {
  vertical-align: middle;
}

// FORM

.spacer {
  height: $spacing-unit;
}

.spacer-sm {
  height: $spacing-unit/2;
}

.post-list>li {
  margin: 0 0 $spacing-unit*3;
}

@media (max-width: 768px) {
  .spacer {
    height: $spacing-unit/2;
  }
  .post-list>li {
    margin-bottom: $spacing-unit;
  }
}

// CONTENT

.home-header {
  position: relative;
  margin-top: -25px;
  color: $dark;
  background-size: cover;
  background-position: center;
  padding-top: $spacing-unit*2;
}

  .home-header h1, .home-header h4 {
    position: relative;
    z-index: 2;
  }

.site-photos:nth-child(2n+1) {
  clear: both;
}

.site-photos img {
  margin-bottom: $spacing-unit/2;
}

// BLOG POSTS

.header-image {
  margin-top: -50px;
  margin-bottom: -$spacing-unit/2;
  display: block;
  background-size: cover;
  background-position: center;
  height: 320px;
}

@media (min-width: 768px) {
  .script {
    padding: 1em;
    font-size: $base-font-size*1.25;
    line-height: $base-line-height*1.1;
  }
}

@media (max-width: 768px) {
  .home-header {
    padding-top: $spacing-unit;
  }
}

// MEDIA

.media-thumbnail {
  height: 150px;
  display: block;
  background-size: cover;
  background-position: center;
  margin-bottom: $spacing-unit;
}

// FOOTER

footer {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  color: $light;
  background-color: $dark;
}

  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
