---
layout: default
---

  <div class="container">

    <div class="clearfix spacer"></div>

    <h1>{{ page.title | escape }}</h1>

    <!-- BODY CONTENT -->
    <div class="row">
      <div class="col-sm-7 col-md-6 col-lg-5">
        {{ content }}

        {% unless site.categories.action | size > 0 %}
          <p>No posts in this category at this time.</p>
        {% endunless %}

        <div class="clearfix spacer"></div>


      </div>
    </div>



    <!-- ACTIONS -->
    <div class="row">

        <!-- ACTIONS -->

        {% for post in site.categories.action %}
          <div class="col-sm-4 mt-0">
            <hr class="mt-0">
            <h3 class="mt-3 mb-3">
              <a class="post-link text-danger"  href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            {% if post.content %}<div class="grey post-body mb-2">{{ post.content | truncate: 140 }}</div>{% endif %}
            <!-- CALL TO ACTION -->
            <p class="mb-0 d-flex flex-row-reverse">
              <a href="{{ post.url | relative_url }}" class="p-2 mr-4 btn btn-link btn-flush btn-emph text-danger">Act Now</a>
            </p>
            <div class="clearfix spacer"></div>
          </div>

          {% endfor %}

          <!-- END ACTIONS -->

      </div>
    </div>

  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
