---
layout: default
---

  <div class="container">

    <div class="clearfix spacer"></div>
    <div class="clearfix spacer"></div>

    <h1 class="post-title">{{ page.title | escape }}</h1>

    <!-- BODY CONTENT -->
    <div class="row">
      <div class="col-sm-9 col-md-8 col-lg-7">
        {{ content }}

        {% unless site.categories.action | size > 0 %}
          <p>No posts in this category at this time.</p>
        {% endunless %}

        <div class="clearfix spacer"></div>
        <div class="clearfix spacer"></div>


      </div>
    </div>

    <!-- ACTIONS -->
    <div class="row">

        <!-- ACTIONS -->

        {% for post in site.categories.action %}
          <div class="col-sm-4">
            <!-- <p class="post-meta mt-0">{{ post.date | date: "%b %-d, %Y" }}</p> -->
            <h2 class="mt-0 mb-3">
              <a class="post-link text-danger"  href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <!-- CALL TO ACTION -->
            <a href="{{ post.url | relative_url }}" class="btn btn-danger btn-action ml-auto">Act Now</a>
            <div class="clearfix spacer"></div>
          </div>

          {% endfor %}

          <!-- END ACTIONS -->

      </div>
    </div>

  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
