---
layout: default
---

  <div class="container">

    <h1>{{ page.title | escape }}</h1>

    <div class="clearfix spacer"></div>

    <!-- BODY CONTENT -->
    <div class="row">
      <div class="col-sm-9 col-md-8 col-lg-7">
        {{ content }}

        {% unless site.categories.[page.category] | size > 0 %}
          <p>No posts in this category at this time.</p>
        {% endunless %}
      </div>
    </div>

    <!-- ACTIONS -->
    <div class="row">

        <!-- ACTIONS -->

        {% for post in site.categories.action %}
          <div class="col-sm-3">
              <a href="{{ post.url | prepend: site.baseurl }}">
                  <h2 class="post-title">
                      {{ post.title }}
                  </h2>
                  {% if post.subtitle %}
                  <h3 class="post-subtitle">
                      {{ post.subtitle }}
                  </h3>
                  {% endif %}
              </a>
              <p class="post-meta">
                Posted by
                {% if post.author %}
                  {{ post.author }}
                {% else %}
                  {{ site.title }}
                {% endif %}
                on {{ post.date | date: "%B %-d, %Y" }}
              </p>
          </div>
          <hr>
          {% endfor %}

          <!-- END ACTIONS -->

      </div>
    </div>

  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
