---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="card">
    <h4 class="card-header bg-danger text-white">Action Required</h4>
    <div class="card-block">
      <p class="text-muted"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
      <h4 class="card-title" itemprop="name headline">{{ page.title | escape }}</h4>
      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>
      <p class="post-meta">{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

      <a href="#" class="btn btn-success btn-lg"><i class="material-icons" style="vertical-align: middle;">phone</i> Call Your Rep</a> &nbsp; <a href="action.html" class="btn btn-lg">Read more</a>
    </div>
    <div class="card-block" style="border-top: 1px solid #ddd;">
     <a href="#" class="card-link">Call Script</a>
     <a href="#" class="card-link">Background Info</a>
     <a href="#" class="card-link">How to Call</a>
   </div>
  </div>

</article>
