---
layout: default
---

<div class="container">

  <div class="clearfix spacer"></div>

  <h1>Become A Member</h1>

  <div class="clearfix spacer"></div>

  <!-- BODY CONTENT -->
  <div class="row">

    <!-- STEPS -->
    <div class="col-sm-7 col-md-8">

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">1</span></span>
        <div class="media-body">
          <h4 class="mt-2">Join the {{ site.title | escape }} Newsletter</h4>
          <p class="card-text">This is the primary communication method for our chapter. Get email updates on meeting times, annoucements, action items, and more.</p>

          <div class="row">
            <div class="col-sm-8 col-md-6">
              <form>
                <input class="form-control input-xs-lg mb-2" type="text" placeholder="Your email">
                <input class="form-control input-xs-lg mb-2" type="text" placeholder="Zip code">
                <button class="btn btn-primary btn-block mb-4" type="submit">Get the Newsletter</button>
               </form>
             </div>
           </div>
        </div>
      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">2</span></span>
        <div class="media-body">
          <h4 class="mt-2">Attend a Meeting</h4>
          <p class="card-text">Review the calendar to find our next meeting time.</p>
          <p><a href="#" class="btn btn-primary">Visit the Calendar</a></p>
        </div>
      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">3</span></span>
        <div class="media-body">
          <h4 class="mt-2">Take Action</h4>
          <p class="card-text">Review the calendar to find our next meeting time.</p>
          <p><a href="#" class="btn btn-danger">Browse Actions</a></p>
        </div>
      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">4</span></span>
        <div class="media-body">
          <h4 class="mt-2">Read the Indivisible Guide</h4>
          <p class="card-text">A practical guide for resisting the Trump agenda. This guide was written by former congressional staffers reveal best practices for making Congress listen.</p>
          <p><a href="#" class="btn btn-primary">Read The Guide</a></p>
        </div>
      </div>

      <hr>
      <div class="media">
        <span class="icon-disc d-flex mr-4"><span class="disc">5</span></span>
        <div class="media-body">
          <h4 class="mt-2">Invite Your Friends</h4>
          <p class="card-text">The more members we have, the more impact our local chapter has on the national agenda.</p>
          <p><a href="#" class="btn btn-primary">Share on Twitter</a> <a href="#" class="btn btn-primary">Share on Facebook</a>  <a href="#" class="btn btn-primary">Email</a></p>
        </div>
      </div>
    </div>

    <!-- BIOGRAPHY -->

    <div class="col-sm-5 col-md-4">
      <hr>
      <h4>Who We Are</h4>
      <hr>
      <img class="img-fluid mb-3" src="{{ page.main-image }}">
      {{ page.content | markdownify }}
    </div>



  </div>



</div><!-- END CONTAINER -->

<div class="clearfix spacer"></div>
<div class="clearfix spacer"></div>
