---
layout: default
---

  <div class="container">

    <div class="clearfix spacer"></div>

    <h1>{{ page.title | escape }}</h1>

    <div class="clearfix spacer"></div>

    <h5>Upcoming Events</h5>

    <!-- UPCOMING EVENTS -->

    <div class="row">

      <div class="col-sm-8">

        <div class="post-list">

        {% assign curDate = site.time | date: '%s' %}
          {% for post in site.posts %}
          {% assign postStartDate = post.event-start-date | date: '%s' %}
          {% if postStartDate >= curDate %}


            <div class="media">
              <div class="media-body">
                <!-- <p class="post-meta mt-0">{{ post.date | date: "%b %-d, %Y" }}</p> -->
                <h3 class="mt-2">
                  <a class="post-link"  href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h3>
                {% if post.event-start-date %}
                  <div class="grey post-body mb-2">
                    {{ post.event-start-date | date: "%B %-d" }} at {{ post.event-start-date | date: "%r" }}<br/>
                    {{ post.Location | escape }}
                  </div>
                {% endif %}

              </div>

              <!-- POST MAIN IMAGE FIELD -->
              {% if post.main-image %}
                <a class="thumb-wrap d-flex mt-1 mr-0 pr-0 col-xs-2 col-sm-2 mb-3 ml-4" href="{{ post.url | relative_url }}" style="background-image: url('{{ post.main-image}}');"></a>
              {% endif %}

              <!-- END POST MAIN IMAGE -->
            </div>

            <hr class="mt-2 mb-3">

          {% endif %}
        {% endfor %}

        </div>

      </div>

    </div>



    <div class="clearfix spacer"></div>


    {{ page.embed-code }}

    <!-- BODY CONTENT -->
    {% if content %}
    <div class="row">
      <div class="col-sm-7 col-md-6 col-lg-5">

        {{ content }}

        <div class="clearfix spacer"></div>

      </div>
    </div>
    {% endif %}

    <!-- BLOG EVENTS -->

    <div class="clearfix spacer"></div>


    <h5>Past Events</h5>

    {% unless site.categories.event | size > 0 %}
      <p>No posts in {{ page.title | escape }} at this time.</p>
    {% endunless %}

    <div class="clearfix spacer-sm"></div>

        <!-- EVENTS -->

    <div class="row">

      <div class="col-sm-8">

        <div class="post-list">

          <hr class="mt-2 mb-3">

          {% assign curDate = site.time | date: '%s' %}
            {% for post in site.posts %}
            {% assign postStartDate = post.event-start-date | date: '%s' %}
            {% if postStartDate <= curDate %}

              <div class="media">
                <div class="media-body">
                  <!-- <p class="post-meta mt-0">{{ post.date | date: "%b %-d, %Y" }}</p> -->
                  <h3 class="mt-2">
                    <a class="post-link"  href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                  </h3>
                  {% if post.event-start-date %}
                    <div class="grey post-body mb-2">
                      <strong>{{ post.event-start-date | date: "%B %-d, %Y" }}</strong> at {{ post.event-start-date | date: "%r" }}<br/>
                      {{ post.Location | escape }}
                    </div>
                  {% endif %}

                </div>

                <!-- POST MAIN IMAGE FIELD -->
                {% if post.main-image %}
                  <a class="thumb-wrap d-flex mt-1 mr-0 pr-0 col-xs-2 col-sm-2 mb-3 ml-4" href="{{ post.url | relative_url }}" style="background-image: url('{{ post.main-image}}');"></a>
                {% endif %}

                <!-- END POST MAIN IMAGE -->
              </div>

              <hr class="mt-2 mb-3">

            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>

  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
