---
layout: default
---

  <div class="container">

    <div class="clearfix spacer"></div>

    <h1>{{ page.title | escape }}</h1>

    <div class="clearfix spacer"></div>

    <!-- BODY CONTENT -->
    {% if content %}
    <div class="row">
      <div class="col-sm-7 col-md-6 col-lg-5">

        {{ content }}

        <div class="clearfix spacer"></div>

      </div>
    </div>
    {% endif %}


    <div class="row">

      <div class="col-sm-8">

        <!-- UPCOMING EVENTS -->
        <h5 class="mb-0">Upcoming Events</h5>

        <div class="post-list">

          {% assign curDate = site.time | date: '%s' %}
            {% for post in site.posts %}
            {% assign postStartDate = post.event-start-date | date: '%s' %}
            {% if postStartDate >= curDate %}
              {% include event-post-header.html %}
            {% endif %}
          {% endfor %}

        </div><!-- END UPCOMING EVENTS -->


        <div class="clearfix spacer"></div>

        <!-- CALENDAR EMBED -->
        {% if page.embed-code %}

          <div class="clearfix spacer"></div>

          <h5 class="mb-0">Full Calendar</h5>
          <hr class="mt-2 mb-2">

          <div class="clearfix spacer-sm"></div>

          {{ page.embed-code }}

          <div class="clearfix spacer"></div>

        {% endif %}

        <!-- PAST EVENTS -->

        <div class="clearfix spacer"></div>

        <h5 class="mb-0">Past Events</h5>

        {% unless site.categories.event.size > 0 %}
          <hr class="mt-2 mb-2">
          <p>No posts in {{ page.title | escape }} at this time.</p>
        {% endunless %}

        <div class="post-list">

        {% assign curDate = site.time | date: '%s' %}
        {% for post in site.categories.event %}
          {% assign postStartDate = post.event-start-date | date: '%s' %}
          {% if postStartDate <= curDate %}

            {% include event-post-header.html %}

          {% endif %}

        {% endfor %}

        </div><!-- END PAST EVENTS -->

      </div> <!-- END LEFT COLUMN -->

      <div class="col-sm-4">
        <h5 class="mb-0">Suggest an Event</h5>
        <hr class="mt-2 mb-2">
        <p>Have an idea for an event? Want {{ site.title }} to co-host an event?</p>
        <p><a class="btn btn-outline-primary" href="mailto:{{ site.email }}">Contact us</a></p>
      </div>

    </div><!-- END ROW -->

  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
