---
layout: default
---

<div class="home">

  <!-- HOMEPAGE HEADER -->
  <div class="clearfix home-header-wrap" {% if site.background-image %}style="background-image: url('{{ site.background-image }}')"{% endif %}>

    {% if site.background-image %}<div class="onionskin absolute"></div>{% endif %}

    <div class="clearfix home-header container relative">

      <!-- SUBTITLE -->
      <div class="row">
        <div class="col-md-12">
          <h1 class="mt-0 mb-0 {% if site.background-image %}text-white{% endif %}">{{ site.subtitle | escape }}</h1>
        </div>
      </div>

      {% if page.content %}
        <div class="spacer clearfix visible-sm-up"></div>
        {{ content }}
      {% endif %}

    </div><!-- END HOME HEADER -->
  </div><!-- END HOME HEADER WRAP -->

  <!-- HOMEPAGE BODY -->
  <div class="container">

    {% if site.member-count %}
      <div class="hidden-sm-up mt-4 mb-4">
        <h5 class="d-flex"><span class="mt-1">{{ site.member-count }} Members</span> <a href="mailto:?subject=Join {{ site.title | escape }}&body=Join {{ site.url }} today!" class="btn btn-sm ml-auto btn-primary"><strong>Invite Members</strong></a></h5>
      </div>
    {% endif %}


    <div class="row">

      <div class="col-sm-8">

        <!-- Blog Posts -->
        <div class="post-list">

          {% for post in site.posts %}

            <hr class="mt-0 mb-2">

            <!-- POST TEMPLATE -->

            {% if post.categories contains 'action' %}
              {% if post['is featured'] == true %}<span class="badge badge-danger">PINNED</span> {% endif %}
              <span class="badge badge badge-danger mt-2">ACTION NEEDED</span>
            {% endif %}

            <div class="media">
              <div class="media-body">
                <!-- EVENT SPECIFIC FILEDS -->
                {% if post.categories contains 'event' %}
                  <div class="row event">
                    {% if post.event-start-date %}
                    <div class="col-3 col-lg-2">
                      {% if post['is featured'] == true %}<span class="badge badge-primary">PINNED</span> {% endif %}
                      <center>
                        <span class="badge badge-primary mt-2 mb-1">Event</span>
                      </center>
                      <p class="mb-1 mt-1 text-center">{{ post.event-start-date | date: "%b" }}</p>
                      <h3 class="text-center"><strong>{{ post.event-start-date | date: "%-d" }}</strong></h3>
                    </div>
                    {% endif %}
                    <div class="col-9 col-sm-10">
                      <h3 class="mt-0 mb-1">
                        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                      </h3>
                      <div class="row">
                        <div class="col-12 col-sm-3 grey">
                         <p class="mb-0">{{ post.event-start-date | date: "%I:%M%p" }} {% if post.event-end-date %}to {% endif %}{{ post.event-end-date | date: "%I:%M%p" }}</p>
                        </div>
                        <div class="col-12 col-sm-9 grey">
                          <p>{{ post.Location | escape }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- EVENT SPECIFIC FILEDS -->
                  {% else %}
                    <h3 class="mt-2">
                      <a class="post-link {% if post.categories contains 'action' %}text-danger{% endif %}"  href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    </h3>
                    <div class="grey post-body mb-2">{{ post.content | truncate: 140 }}</div>
                  {% endif %}
              </div>

              <!-- CALL TO ACTION -->
              {% if post.categories contains 'action' %}
                <a href="{{ post.url | relative_url }}" class="btn btn-danger btn-action ml-auto mt-3 mr-4 mb-4 {% if post.main-image %}action-v-img{% endif %}">Act Now</a>
              {% endif %}

              {% if post.RSVP-link %}
                <a href="{{ post.RSVP-link | escape }}" class="btn btn-primary btn-action ml-auto mt-3 mr-4 mb-1 {% if post.main-image %}action-v-img{% endif %}">RSVP</a>
              {% endif %}

              <!-- POST MAIN IMAGE FIELD -->
              {% if post.main-image %}
                <a class="thumb-wrap d-flex mt-1 mr-0 pr-0 col-2 mb-4 ml-4 hidden-xs-down" href="{{ post.url | relative_url }}" style="background-image: url('{{ post.main-image}}');"></a>
              {% endif %}
              <!-- END POST MAIN IMAGE -->

            </div><!-- END MEDIA -->

            <div class="spacer-sm clearfix"></div>


          {% endfor %}
        </div><!-- END BLOG POSTS -->

        <hr class="mt-2 mb-2">
        <h5><a href="#" class="btn btn-link btn-flush"><strong>More posts &rarr;</strong></a></h5>

        <div class="spacer clearfix"></div>
        <div class="spacer clearfix"></div>

      </div>

      <!-- TEAM MEDIA -->
      <div class="col-sm-4">

        {% if site.member-count %}
          <div class="hidden-xs-down">
            <hr class="mt-0 mb-4">
            <h5 class="d-flex"><span class="mt-1">{{ site.member-count }} Members</span> <a href="mailto:?subject=Join {{ site.title | escape }}&body=Join {{ site.url }} today!" class="btn btn-sm ml-auto btn-primary"><strong>Invite Members</strong></a></h5>
          </div>
        {% endif %}

        {% if site.media-items %}
          <!-- <div class="spacer"></div> -->
          <hr class="mt-4 mb-3">
          <h5 class="mb-4">Successes</h5>

          {% for media-items in site.media-items limit:5 %}
            <a class="media-thumbnail mb-2" href="{{ media-items.url | relative_url }}" style="background-image: url('{{ media-items.main-image }}')"></a>
            <h5 class="title"><a href="{{ media-items.url | relative_url }}">{{ media-items.title | truncate: 140 }}</a></h5>
            <hr class="mt-4 mb-3">
          {% endfor %}
          <h5><a href="/successes.html" class="btn btn-link btn-flush"><strong>More successes &rarr;</strong></a></h5>

        {% endif %}

      </div><!-- END TEAM MEDIA -->

    </div>

  <div class="spacer clearfix"></div>
  <div class="spacer clearfix"></div>

</div>
