---
layout: default
---

<div class="home">

  <!-- -->

  <!-- HOMEPAGE HEADER -->
  <div class="clearfix" {% if site.background-image %}style="position: relative; background-size: cover; background-position: center; background-image: url('{{ site.background-image }}')"{% endif %}>
    {% if site.background-image %}<div class="onionskin absolute"></div>{% endif %}

    <div class="clearfix home-header container relative">

      <!-- SUBTITLE -->
      <div class="row">
        <div class="col-md-12">
          <h1 class="mt-0 mb-0 {% if site.background-image %}text-white{% endif %}">{{ site.subtitle | escape }}</h1>
        </div>
      </div>

      {% if page.content %}
        <div class="spacer clearfix visible-sm-up"></div>
        {{ content }}
      {% endif %}

    </div>
  </div>

  <!-- HOMEPAGE BODY -->
  <div class="container">

    <div class="row">

      <div class="col-sm-8">

        <div class="post-list">

          {% for post in site.posts %}

            <hr class="mt-0 mb-2">

            <!-- POST TEMPLATE -->

            {% if post.categories contains 'action' %}
              {% if post['is featured'] == true %}<span class="badge badge-danger">PINNED</span> {% endif %}
              <span class="badge badge badge-danger mt-2">ACTION NEEDED</span>
            {% endif %}



            <div class="media">
              <div class="media-body">
                <!-- EVENT SPECIFIC FILEDS -->
                {% if post.categories contains 'event' %}
                  <div class="row">
                    {% if post.event-start-date %}
                    <div class="col-xs-3 col-sm-3 col-lg-2">
                      {% if post['is featured'] == true %}<span class="badge badge-primary">PINNED</span> {% endif %}
                      <center>
                        <span class="badge badge badge-primary mt-2 mb-1">Event</span>
                      </center>
                      <p class="mb-0 mt-0 text-center">{{ post.event-start-date | date: "%b" }}</p>
                      <h3 class=" text-center"><strong>{{ post.event-start-date | date: "%-d" }}</strong></h3>
                    </div>
                    {% endif %}
                    <div class="col-xs-9 col-sm-10">
                      <h3 class="mt-0 mb-1">
                        <a class="post-link"  href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                      </h3>
                      <div class="row mt-2">
                        <div class="col-xs-5 col-sm-3 grey">
                         <p>{{ post.event-start-date | date: "%I:%M%p" }}</p>
                        </div>
                        <div class="col-xs-7 col-sm-9 grey">
                          <p>{{ post.Location | escape }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- EVENT SPECIFIC FILEDS -->
                  {% else %}
                    <h3 class="mt-2">
                      <a class="post-link {% if post.categories contains 'action' %}text-danger{% endif %}"  href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    </h3>
                    <div class="grey post-body mb-2">{{ post.content | truncate: 140 }}</div>
                  {% endif %}
              </div>

              <!-- CALL TO ACTION -->
              {% if post.categories contains 'action' %}
                <a href="{{ post.url | relative_url }}" class="btn btn-danger btn-action ml-auto mt-3 mr-4 mb-4 {% if post.main-image %}action-v-img{% endif %}">Act Now</a>
              {% endif %}

              {% if post.RSVP-link %}
                <a href="{{ post.RSVP-link | escape }}" class="btn btn-primary btn-action ml-auto mt-3 mr-4 mb-1 {% if post.main-image %}action-v-img{% endif %}">RSVP</a>
              {% endif %}

              <!-- POST MAIN IMAGE FIELD -->
              {% if post.main-image %}
                <a class="thumb-wrap d-flex mt-1 mr-0 pr-0 col-xs-2 col-sm-2 mb-4 ml-4" href="{{ post.url | relative_url }}" style="background-image: url('{{ post.main-image}}');"></a>
              {% endif %}

              <!-- END POST MAIN IMAGE -->
            </div>
            <div class="spacer-sm clearfix"></div>

          {% endfor %}
        </div>

        <div class="spacer clearfix"></div>
        <div class="spacer clearfix"></div>

      </div>

      <!-- TEAM MEDIA -->
      <div class="col-sm-4">


        <hr class="mt-0 mb-4">

        {% if site.member-count %}<h5 class="d-flex"><span class="mt-1">{{ site.member-count }} Members</span> <a href="mailto:?subject=Join {{ site.title | escape }}&body={{ site.url }}" class="btn btn-sm ml-auto btn-primary"><strong>Invite Members</strong></a></h5>{% endif %}

        {% if site.media-items %}
          <!-- <div class="spacer"></div> -->
          <hr class="mt-4 mb-3">
          <h5 class="mb-4"><a href="/action-updates.html">Action Updates</a></h5>

          {% for media-items in site.media-items limit:5 %}
            <a class="media-thumbnail mb-2" href="{{ media-items.url | relative_url }}" style="background-image: url('{{ media-items.main-image }}')"></a>
            <h5><a href="{{ media-items.url | relative_url }}">{{ media-items.title | truncate: 140 }}</a></h5>
            <hr class="mt-4 mb-3">
          {% endfor %}

          <a href="#" class="btn btn-link btn-flush">More Updates</a>

        {% endif %}



      </div>
      <!-- TEAM MEDIA -->

    </div>

  <div class="spacer clearfix"></div>
  <div class="spacer clearfix"></div>


</div>
