---
layout: default
---

<div class="home">

  <!-- style="background-image: url('{{ site.background-image}}')" -->

  <div class="clearfix home-header" >

    <h1 class="text-center">{{ site.title | escape }}</h1>
    <h4 class="text-center">{{ site.subtitle | escape }}</h4>

    {{ content }}

  </div>

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>

  <div class="container">
  <div class="row">

    <div class="col-sm-8">

      <div class="post-list">
        {% for post in site.posts %}

            {% if post.categories contains 'action' %}
            <!-- TEMPLATE FOR ACTIONS -->
            <div class="card">
              <h4 class="card-header bg-danger text-white">Urgent Action Needed</h4>
              <div class="card-block">
                <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
                <h2 class="card-title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
                <div class="post-content" itemprop="articleBody">
                  {{ content | truncate: 160 | escape }}
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-success btn-xs-block"><i class="material-icons" style="vertical-align: middle;">phone</i> Call Your Rep</a>
              </div>
            </div>

            {% elsif post.categories contains 'event' %}
            <!-- TEMPLATE FOR EVENTS -->
            <div class="card">
              <div class="card-block">
                <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
                <h2 class="card-title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ post.date | date: "%B %-d, %Y" }}</li>
                <li class="list-group-item">{{ post.date | date: "%r" }}</li>
                <li class="list-group-item">{{ post.Location | escape }}</li>
              </ul>
              {% if post.RSVP-link %}
              <div class="card-block">
                <a href="{{ post.RSVP-link | escape }}" class="btn btn-primary">RSVP to Event</a>
              </div>
              {% endif %}
            </div>

            {% else %}
            <!-- GENERIC POST TEMPLATE -->
            <div class="media">
              <div class="media-body">
                <p class="post-meta mt-0">{{ post.date | date: "%b %-d, %Y" }}</p>
                <h2 class="mt-0">
                  <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h2>
              </div>
              <img class="d-flex mr-3 col-xs-2 col-sm-3" class="img-flex" src="{{ post.main-image}}">
            </div>
            {% endif %}

            <div class="spacer clearfix"></div>
            <div class="spacer clearfix"></div>

        {% endfor %}
      </div>

    </div>

    <div class="col-sm-4">
      hello
      {% for medium in site.media %}

        {{ medium.title }}
          <div class="col-xs-4">
            <!-- <img src="{{ media.media-file }}" class="img-fluid img-rounded"> -->
          </div>
      {% endfor %}

      {% for representatives in site.representatives %}
            <li class="list-group-item bg-dark"><strong>{{ representatives.title }}</strong></li>

      {% endfor %}

    </div>

  </div>

  <div class="spacer clearfix"></div>
  <div class="spacer clearfix"></div>


</div>
