---
layout: default
---

<article class="post">


  <div class="container">

    <div class="clearfix spacer"></div>

    <div class="row">
      <div class="col">
        <div class="clearfix spacer"></div>
        <header class="post-header">
          <h1 class="post-title">{{ page.title | escape }}</h1>
        </header>
        <div class="clearfix spacer"></div>
        <div class="clearfix spacer"></div>
      </div>
    </div>

    <div class="row post-content">
      <div class="col-sm-12">
        {{ content }}
      </div>
    </div>
  </div>

</article>
