---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="container">

    {% if page.main-image %}
      <div class="clearfix spacer-sm hidden-xs-down"></div>
      <div class="bg-medium main-img-wrap clearfix">
        <div class="header-image" style="background-image: url('{{ page.main-image }}')"></div>
      </div>
    {% endif %}

    <div class="clearfix spacer"></div>

    <div class="row">
      <div class="col">
        <header class="post-header">
          {% for category in page.categories %}
          <span class="badge badge-lg mb-2 {% if category == 'event' %}badge-primary{% elsif category == 'action' %}badge-danger{% else %}badge-default{% endif %}">{{ category }}</span>
          {% endfor %}
          <h1 class="page-title mb-2">{{ page.title | escape }}</h1>
          {% if page.categories contains 'action' %}
          <label class="custom-control align-self-start custom-checkbox d-inline-block mr-3 mt-2 mb-0">
            <input type="checkbox" class="custom-control-input" name="{{ page.id | escape }}/check">
            <span class="custom-control-indicator align-self-center"></span>
            <span class="custom-control-description ml-2 text-danger">Mark as done</span>
          </label>
          {% endif %}
        </header>
      </div>
    </div>

    <div class="clearfix spacer"></div>
    <div class="clearfix spacer"></div>

    <div class="row post-content" itemprop="articleBody">
      {% if page.categories contains 'action' %}
      <div class="col-sm-5 col-md-4 col-lg-3 hidden-xs-down">
        <div class="card">
          <!--
            A list of all representatives contact numbers
            NOTE - These values are also listed in footer.html
          -->
          <ul class="list-group list-group-flush representative">
          {% for representatives in site.representatives %}
                <li class="list-group-item bg-medium">
                  <strong>{{ representatives.title }}</strong>
                </li>
                {% for phone-numbers in representatives.phone-numbers %}
                 {% if phone-numbers[0] !="office-name" %}
                   <li class="list-group-item">
                     <small>{{ phone-numbers[0] }}</small><br><strong>{{ phone-numbers[1] }}</strong>
                   </li>
                 {% endif %}
                {% endfor %}
          {% endfor %}
          </ul>

          <!-- END list -->

          <div class="card-footer">
            <p class="card-text"><a href="http://www.house.gov/representatives/find/">Find your representative</a></p>
          </div>

        </div>
        <div class="clearfix spacer visibile-xs-down"></div>
        <div class="clearfix spacer visibile-xs-down"></div>
      </div>

      {% elsif page.event-start-date %}
      <div class="col-sm-5 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-header bg-medium">
            <strong>Date and time</strong>
          </div>
          <ul class="list-group list-group-flush">
            {% if page.event-start-date %}<li class="list-group-item">{{ page.event-start-date | date: "%B %-d, %Y" }}</li>{% endif %}
            {% if page.event-start-date %}
            <li class="list-group-item">{{ page.event-start-date | date: "%l:%M %p" }}
              {% if page.event-end-date %} - {{ page.event-end-date | date: "%l:%M %p" }}{% endif %}
            </li>
            {% endif %}
            {% if page.Location %}<li class="list-group-item">{{ page.Location | escape }}</li>{% endif %}
          </ul>
          {% if page.RSVP-link %}
          <div class="card-block">
            <a href="{{ page.RSVP-link | escape }}" class="btn btn-primary btn-block">RSVP</a>
          </div>
          {% endif %}
        </div>
        <div class="clearfix spacer"></div>

      </div>
      {% endif %}

      {% if page.categories contains 'action' %}
      <div class="col-sm-7 col-md-7 col-lg-8 offset-sm-0 offset-md-1">
      {% elsif page.categories contains 'event' %}
      <div class="col-sm-7 col-md-7 col-lg-8 offset-sm-0 offset-md-1">
      {% else %}
      <div class="col-sm-8">
      {% endif %}

        {% if page.call-script-text %}

          <div class="card script">
            <div class="card-block">
              <h5 class="mb-4">CALL SCRIPT</h5>
              {{ page.call-script-text | markdownify }}
            </div>
          </div>
          <div class="clearfix spacer"></div>

        {% endif %}

        {{ content }}

        {% if page.categories contains 'action' %}
        <div class="row hidden-sm-up">
          <div class="col-12">
            <div class="card">

              <!-- A list of all representatives contact numbers -->
              <ul class="list-group list-group-flush representative">
              {% for representatives in site.representatives %}
                    <li class="list-group-item bg-medium"><strong>{{ representatives.title }}</strong></li>
                    {% for phone-numbers in representatives.phone-numbers %}
                      <li class="list-group-item">
                        <small>{{ phone-numbers[0] }}</small><br><strong>{{ phone-numbers[1] }}</strong>
                      </li>
                    {% endfor %}
              {% endfor %}
              </ul>
              <!-- END list -->

              <div class="card-footer">
                <p class="card-text"><a href="http://www.house.gov/representatives/find/">Find your representative</a></p>
              </div>

            </div>
            <div class="clearfix spacer visibile-xs-down"></div>
            <div class="clearfix spacer visibile-xs-down"></div>
          </div>
        </div>
        {% endif %}

        <!-- post tags -->
        {% if !page.tags.empty? %}
          <p class="most-meta small">
            Tagged: {{ page.tags | join: ', ' }}
          </p>
        {% endif %}
        <!-- END Post tags -->

        <!-- Timestamp -->
        <p class="post-meta small">Posted <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        <!-- END Timestamp -->

        <!-- SHARE BUTTONS -->
        {% include share-btns.html %}

      </div>
    </div><!-- END ROW -->

    <div class="clearfix spacer"></div>
    <div class="clearfix spacer"></div>


</article>
