---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="container">

    {% if page.main-image %}
      <div class="clearfix spacer-sm hidden-xs-down"></div>
      <div class="bg-medium main-img-wrap clearfix">
        <div class="header-image" style="background-image: url('{{ page.main-image }}')"></div>
      </div>
    {% endif %}

    <div class="clearfix spacer"></div>

    <div class="row">
      <div class="col">
        <header class="post-header">
          {% for categories in page.categories %}
          <span class="badge badge-lg mb-2 {% if page.categories contains 'event' %}badge-primary{% elsif page.categories contains 'action' %}badge-danger{% else %}badge-default{% endif %}">{{ page.categories }}</span>
          {% endfor %}
          <h1 class="page-title mb-2 {% if page.categories contains 'action' %}text-danger{% else %}text-primary{% endif %}">{{ page.title | escape }}</h1>
        </header>
      </div>
    </div>

    <div class="clearfix spacer"></div>

    <div class="row post-content" itemprop="articleBody">
      {% if page.categories contains 'action' %}
      <div class="col-sm-5 col-md-4 col-lg-3 hidden-xs-down">
        <div class="card">
          <!-- A list of all representatives contact numbers -->
          <ul class="list-group list-group-flush representative">
          {% for representatives in site.representatives %}
                <li class="list-group-item bg-dark"><strong>{{ representatives.title }}</strong></li>
                {% for phone-numbers in representatives.phone-numbers %}
                  <li class="list-group-item">
                    <small>{{ phone-numbers[0] }}</small><br><strong>{{ phone-numbers.[1] }}</strong>
                  </li>
                {% endfor %}
          {% endfor %}
          </ul>

          <!-- END list -->

          <div class="card-footer">
            <p class="card-text"><a href="http://www.house.gov/representatives/find/">Find your representative</a></p>
          </div>

        </div>
        <div class="clearfix spacer visibile-xs-down"></div>
        <div class="clearfix spacer visibile-xs-down"></div>
      </div>

      {% elsif page.event-start-date %}
      <div class="col-sm-5 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-header">
            <strong>Date and time</strong>
          </div>
          <ul class="list-group list-group-flush">
            {% if page.event-start-date %}<li class="list-group-item">{{ page.event-start-date | date: "%B %-d, %Y" }}</li>{% endif %}
            {% if page.event-start-date %}<li class="list-group-item">{{ page.event-start-date | date: "%r" }}</li>{% endif %}
            {% if page.Location %}<li class="list-group-item">{{ page.Location | escape }}</li>{% endif %}
          </ul>
          {% if page.RSVP-link %}
          <div class="card-block">
            <a href="{{ post.RSVP-link | escape }}" class="btn btn-primary btn-block">RSVP</a>
          </div>
          {% endif %}
        </div>
        <div class="clearfix spacer"></div>

      </div>
      {% endif %}

      {% if page.categories contains 'action' %}
      <div class="col-sm-7 col-md-7 col-lg-8 offset-sm-0 offset-md-1">
      {% elsif page.categories contains 'event' %}
      <div class="col-sm-7 col-md-7 col-lg-8 offset-sm-0 offset-md-1">
      {% else %}
      <div class="col-sm-8">
      {% endif %}

        {% if page.call-script-text %}

          <div class="card script">
            <div class="card-block">
              <h5 class="mb-4">CALL SCRIPT</h5>
              {{ page.call-script-text }}
            </div>
          </div>
          <div class="clearfix spacer"></div>

        {% endif %}

        {{ content }}

        {% if page.categories contains 'action' %}
        <div class="row hidden-sm-up">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <strong>Call Numbers</strong>
              </div>
              <div class="card-block">
                <p class="card-text">Here are numbers for our primary local reps. Try to reach a live person at different office numbers. If you can't reach anyone leave a voicemail.</p>
              </div>

              <!-- A list of all representatives contact numbers -->
              <ul class="list-group list-group-flush representative">
              {% for representatives in site.representatives %}
                    <li class="list-group-item bg-dark"><strong>{{ representatives.title }}</strong></li>
                    {% for phone-numbers in representatives.phone-numbers %}
                      <li class="list-group-item">
                        <small>{{ phone-numbers[0] }}</small><br><strong>{{ phone-numbers.[1] }}</strong>
                      </li>
                    {% endfor %}
              {% endfor %}
              </ul>

              <!-- END list -->

              <div class="card-footer">
                <p class="card-text"><a href="http://www.house.gov/representatives/find/">Find your representative</a></p>
              </div>

            </div>
            <div class="clearfix spacer visibile-xs-down"></div>
            <div class="clearfix spacer visibile-xs-down"></div>
          </div>
        </div>
        {% endif %}

        <!-- post tags -->
        {% if page.tags %}
          <p class="most-meta small">
            {% for tag in post.tag %}
              {{ page.tags }} &nbsp;
            {% endfor %}
          </p>
        {% endif %}
        <!-- END Post tags -->

        <!-- Timestamp -->
        <p class="post-meta small">Posted <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        <!-- END Timestamp -->

        <!-- SHARE BUTTONS -->
        {% include share-btns.html %}

      </div>
    </div><!-- END ROW -->





    <div class="clearfix spacer"></div>
    <div class="clearfix spacer"></div>


  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}



</article>

<!-- Modal -->
<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h4 class="text-center mt-4 mb-4">Awesome!</h4>
        <p class="text-center mb-4">Make an even bigger impact by getting your friends and family to take this action right now</p>
        <center>
          <button class="btn btn-primary btn-lg btn-block mb-2">Tweet this Action</button>
          <button class="btn btn-success btn-lg btn-block mb-4" style="background: #3b5998; border-color: #3b5998;">Share on Facebook</button>
        </center>
      </div>

    </div>
  </div>
</div>
