---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.main-image %}
    <div class="header-image mb-3" style="background-image: url('{{ page.main-image }}')"></div>
  {% endif %}

  <div class="container">

    <div class="row">
      <div class="col">
        <header class="post-header mt-4">
          {% if page.categories contains 'action' %}
          <span class="badge badge-lg badge-danger mb-2">ACTION NEEDED</span>
          {% endif %}
          {% if page.categories contains 'event' %}
          <span class="badge badge-lg badge-primary mb-2">Upcoming Event</span>
          {% endif %}
          <h1 class="page-title mb-2 {% if page.categories contains 'action' %}text-danger{% endif %}">{{ page.title | escape }}</h1>
        </header>
        <div class="clearfix spacer hidden-xs-down"></div>
      </div>
    </div>

    <div class="row post-content" itemprop="articleBody">
      {% if page.categories contains 'action' %}
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header">
            <strong>Call Numbers</strong>
          </div>
          <div class="card-block">
            <p class="card-text">Here are numbers for our primary local reps. Try to reach a live person at different office numbers. If you can't reach anyone leave a voicemail.</p>
          </div>

          <!-- A list of all representatives contact numbers -->
          <ul class="list-group list-group-flush">
          {% for representatives in site.representatives %}
                <li class="list-group-item bg-dark"><strong>{{ representatives.title }}</strong></li>
                {% for phone-numbers in representatives.phone-numbers %}
                  <li class="list-group-item">
                    <strong>{{ phone-numbers[0] }}</strong>&nbsp;{{ phone-numbers.[1] }}
                  </li>
                {% endfor %}
          {% endfor %}
          </ul>

          <!-- END list -->

          <div class="card-footer">
            <p class="card-text"><a href="http://www.house.gov/representatives/find/">Find your representative</a></p>
          </div>

        </div>
        <div class="clearfix spacer visibile-xs-down"></div>
        <div class="clearfix spacer visibile-xs-down"></div>
      </div>

      {% elsif page.event-start-date %}
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header">
            <strong>Date and time</strong>
          </div>
          <ul class="list-group list-group-flush">
            {% if page.event-start-date %}<li class="list-group-item">{{ page.event-start-date | date: "%B %-d, %Y" }}</li>{% endif %}
            {% if page.event-start-date %}<li class="list-group-item">{{ page.event-start-date | date: "%r" }}</li>{% endif %}
            {% if page.Location %}<li class="list-group-item">{{ page.Location | escape }}</li>{% endif %}
          </ul>
          {% if page.RSVP-link %}
          <div class="card-block">
            <a href="{{ post.RSVP-link | escape }}" class="btn btn-primary btn-block">RSVP</a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <!-- FIXME - Also do this on events -->
      {% if page.categories contains 'action' %}
      <!-- ENDF FIXME -->
      <div class="col-sm-8 offset-sm-1">
      {% else %}
      <div class="col-sm-9">
      {% endif %}

        {% if page.call-script-text %}
          <h3>Call Script</h3>
          <div class="clearfix spacer-sm"></div>

          <div class="card script">
            <div class="card-block">
              {{ page.call-script-text }}
            </div>
          </div>
          <div class="clearfix spacer"></div>
        {% endif %}

        {{ content }}

        <p class="post-meta small">Posted <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>


      </div>
    </div>




    <div class="clearfix spacer"></div>
    <div class="clearfix spacer"></div>


  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
